#### TUGAS
1. BPS -> multi index
2. pd.melt
3. pd.crosstab
4. pd.read_sql
5. pd.read_sql_table

In [1]:
import pandas as pd

In [26]:
bps = pd.read_excel("bps-file.xlsx", header=3, skipfooter=1)
bps.rename(columns={'Unnamed: 0':'Provinsi'}, inplace=True)
bps

,Provinsi,2003,2005,2008,2011,2014,2018,2003.1,2005.1,2008.1,2011.1,2014.1,2018.1
0,ACEH,507,660,678,761,748,723,5229,5308,5746,5722,5764,5785
1,SUMATERA UTARA,336,175,375,396,459,423,5043,4740,5392,5401,5645,5709
2,SUMATERA BARAT,80,99,102,116,127,132,795,802,822,917,1018,1143
3,RIAU,346,406,186,232,271,254,1279,1326,1418,1423,1564,1621
4,JAMBI,28,28,28,29,30,28,1161,1207,1275,1343,1521,1534
5,SUMATERA SELATAN,16,19,22,34,29,25,2691,2759,3057,3152,3208,3237
6,BENGKULU,134,157,166,182,186,184,1029,1067,1185,1327,1346,1330
7,LAMPUNG,170,186,203,231,241,231,1958,2005,2136,2233,2391,2423
8,KEP. BANGKA BELITUNG,122,105,137,163,166,160,195,216,207,198,215,231
9,KEP. RIAU,-,-,267,299,361,355,-,-,59,54,54,61
10,DKI JAKARTA,16,16,15,16,16,15,251,251,252,251,251,252
11,JAWA BARAT,219,193,217,217,227,221,5539,5615,5654,5688,5735,5736
12,JAWA TENGAH,334,334,329,347,357,355,8221,8230,8245,8230,8221,8204
13,DI YOGYAKARTA,30,32,33,33,33,33,408,406,405,405,405,405
14,JAWA TIMUR,567,571,611,655,678,655,7898,7906,7894,7847,7824,7841
15,BANTEN,114,123,124,131,135,133,1365,1359,1380,1404,1416,1419
16,BALI,150,156,167,177,175,175,536,545,545,539,541,541
17,NUSA TENGGARA BARAT,183,184,241,279,301,297,555,636,672,805,840,846
18,NUSA TENGGARA TIMUR,768,815,841,943,1011,1018,1782,1923,1962,2023,2259,2335
19,KALIMANTAN BARAT,130,138,153,163,161,158,1309,1392,1638,1804,1948,1979
20,KALIMANTAN TENGAH,40,34,41,45,44,45,1290,1317,1407,1483,1525,1531
21,KALIMANTAN SELATAN,135,131,135,166,165,165,1814,1828,1839,1834,1843,1843
22,KALIMANTAN TIMUR,131,168,179,218,175,156,1168,1176,1238,1247,851,882
23,KALIMANTAN UTARA,-,-,-,-,55,56,-,-,-,-,424,426
24,SULAWESI UTARA,456,509,627,721,778,783,740,760,867,972,1058,1055
25,SULAWESI TENGAH,684,770,839,901,1021,1011,756,760,847,914,965,1009
26,SULAWESI SELATAN,547,547,485,504,531,527,2537,2739,2461,2478,2499,2522
27,SULAWESI TENGGARA,590,658,771,813,947,954,974,1027,1257,1308,1325,1400
28,GORONTALO,82,110,136,191,203,201,294,340,448,540,533,533
29,SULAWESI BARAT,-,-,122,148,152,152,-,-,414,490,496,498
30,MALUKU,708,733,772,859,914,1064,128,140,134,165,174,176
31,MALUKU UTARA,551,568,772,856,941,934,190,213,264,223,255,262
32,PAPUA BARAT,-,-,416,536,543,572,-,-,789,903,1024,1415
33,PAPUA,846,827,474,522,646,662,2661,2512,2837,3402,4225,4890

In [27]:
bpsNew = pd.DataFrame({
    "No": (list(range(1,35)) * 2),
    "Provinsi": (list(bps["Provinsi"]) * 2),
    "Kawasan": ((["Tepi Laut"] * 34) + (["Bukan Tepi Laut"] * 34)),
    "2003": (list(bps[2003]) + list(bps["2003.1"])),
    "2005": (list(bps[2005]) + list(bps["2005.1"])),
    "2008": (list(bps[2008]) + list(bps["2008.1"])),
    "2011": (list(bps[2011]) + list(bps["2011.1"])),
    "2014": (list(bps[2014]) + list(bps["2014.1"])),
    "2018": (list(bps[2018]) + list(bps["2018.1"]))
})
bpsNew = bpsNew.set_index(["No", "Provinsi", "Kawasan"]).unstack().swaplevel(0,1,1).sort_index(1)
bpsNew

Kawasan                 Bukan Tepi Laut                                \
                                   2003  2005  2008  2011  2014  2018
No Provinsi
1  ACEH                            5229  5308  5746  5722  5764  5785
2  SUMATERA UTARA                  5043  4740  5392  5401  5645  5709
3  SUMATERA BARAT                   795   802   822   917  1018  1143
4  RIAU                            1279  1326  1418  1423  1564  1621
5  JAMBI                           1161  1207  1275  1343  1521  1534
6  SUMATERA SELATAN                2691  2759  3057  3152  3208  3237
7  BENGKULU                        1029  1067  1185  1327  1346  1330
8  LAMPUNG                         1958  2005  2136  2233  2391  2423
9  KEP. BANGKA BELITUNG             195   216   207   198   215   231
10 KEP. RIAU                          -     -    59    54    54    61
11 DKI JAKARTA                      251   251   252   251   251   252
12 JAWA BARAT                      5539  5615  5654  5688  5735  5736
13 JAWA TENGAH                     8221  8230  8245  8230  8221  8204
14 DI YOGYAKARTA                    408   406   405   405   405   405
15 JAWA TIMUR                      7898  7906  7894  7847  7824  7841
16 BANTEN                          1365  1359  1380  1404  1416  1419
17 BALI                             536   545   545   539   541   541
18 NUSA TENGGARA BARAT              555   636   672   805   840   846
19 NUSA TENGGARA TIMUR             1782  1923  1962  2023  2259  2335
20 KALIMANTAN BARAT                1309  1392  1638  1804  1948  1979
21 KALIMANTAN TENGAH               1290  1317  1407  1483  1525  1531
22 KALIMANTAN SELATAN              1814  1828  1839  1834  1843  1843
23 KALIMANTAN TIMUR                1168  1176  1238  1247   851   882
24 KALIMANTAN UTARA                   -     -     -     -   424   426
25 SULAWESI UTARA                   740   760   867   972  1058  1055
26 SULAWESI TENGAH                  756   760   847   914   965  1009
27 SULAWESI SELATAN                2537  2739  2461  2478  2499  2522
28 SULAWESI TENGGARA                974  1027  1257  1308  1325  1400
29 GORONTALO                        294   340   448   540   533   533
30 SULAWESI BARAT                     -     -   414   490   496   498
31 MALUKU                           128   140   134   165   174   176
32 MALUKU UTARA                     190   213   264   223   255   262
33 PAPUA BARAT                        -     -   789   903  1024  1415
34 PAPUA                           2661  2512  2837  3402  4225  4890

Kawasan                 Tepi Laut
                             2003 2005 2008 2011  2014  2018
No Provinsi
1  ACEH                       507  660  678  761   748   723
2  SUMATERA UTARA             336  175  375  396   459   423
3  SUMATERA BARAT              80   99  102  116   127   132
4  RIAU                       346  406  186  232   271   254
5  JAMBI                       28   28   28   29    30    28
6  SUMATERA SELATAN            16   19   22   34    29    25
7  BENGKULU                   134  157  166  182   186   184
8  LAMPUNG                    170  186  203  231   241   231
9  KEP. BANGKA BELITUNG       122  105  137  163   166   160
10 KEP. RIAU                    -    -  267  299   361   355
11 DKI JAKARTA                 16   16   15   16    16    15
12 JAWA BARAT                 219  193  217  217   227   221
13 JAWA TENGAH                334  334  329  347   357   355
14 DI YOGYAKARTA               30   32   33   33    33    33
15 JAWA TIMUR                 567  571  611  655   678   655
16 BANTEN                     114  123  124  131   135   133
17 BALI                       150  156  167  177   175   175
18 NUSA TENGGARA BARAT        183  184  241  279   301   297
19 NUSA TENGGARA TIMUR        768  815  841  943  1011  1018
20 KALIMANTAN BARAT           130  138  153  163   161   158
21 KALIMANTAN TENGAH           40   34   41   45    44    45
22 KALIMANTAN SELATAN         135  131  135  166   165   165
23 KALIMANTAN TIMUR           131  168  179  218   175   156
24 KALIMANTAN UTARA             -    -    -    -    55    56
25 SULAWESI UTARA             456  509  627  721   778   783
26 SULAWESI TENGAH            684  770  839  901  1021  1011
27 SULAWESI SELATAN           547  547  485  504   531   527
28 SULAWESI TENGGARA          590  658  771  813   947   954
29 GORONTALO                   82  110  136  191   203   201
30 SULAWESI BARAT               -    -  122  148   152   152
31 MALUKU                     708  733  772  859   914  1064
32 MALUKU UTARA               551  568  772  856   941   934
33 PAPUA BARAT                  -    -  416  536   543   572
34 PAPUA                      846  827  474  522   646   662